<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <title>CustomerID</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <!-- CSS only -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
</head>
<body>

<div class="mx-center">
  <h1>Customer Info</h1>
  <br>
  Name: <h3 th:text="${customer.name}"></h3> <br>
  Telephone No. <h3 th:text="${customer.tel}"></h3> <br>
  Address: <h3 th:text="${customer.address}"></h3> <br>
</div>
</body>
</html>